@import url(fonts/fonts.css);


* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Futurafuturisc', sans-serif;
    box-sizing: border-box;
}

header {
    background: #07086C url('img/BG-img.png') no-repeat;
    z-index: 1;
    position: relative;
}

.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    width: 70%;
    padding: 50px 0;
}

.header__menu {
    display: flex;
    justify-content: space-between;
    width: 650px;
}

.header__phone {
    display: flex;
    align-items: center;
    width: 180px;
}

a {
    color: white;
}

.header__menu-item {
    font-size: 18px;
    font-weight: 300;
}

.header__phone {
    display: flex;
    justify-content: space-between;
}

.header__phone-number {
    font-weight: 400;
}

.header__phone-number>span {
    font-weight: 700;
}

.header__content {
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: auto;
    padding: 50px 0 150px;
}

.header__content-text {
    width: 800px;
}

.header__title {
    font-family: 'Futurafuturisc', sans-serif;
    font-size: 69px;
    font-weight: 900;
    text-transform: uppercase;
    color: white;

}

.header__title>span {
    font-weight: 600;
    text-transform: lowercase;
    color: #969AF7;
}

.header__description {
    font-family: 'Futurabookc', sans-serif;
    color: #969AF7;
    font-size: 23px;
    font-weight: 400;
    margin-top: 10px;
}

.header__list-item {
    margin-bottom: 5px;
}

.header__list {
    font-family: 'Futurabookc', sans-serif;
    font-size: 22px;
    list-style: none;
    margin: 50px 0;
    color: white;
    background: linear-gradient(90deg, #57589e, rgba(195, 197, 255, 0) 100%);
    border-radius: 10px;
    padding: 20px 20px;
}

.header__list-icon {
    margin-right: 10px;
}

.burger {
    display: none;
    width: 32px;
    height: 32px;
    filter: invert(1);
}

.burger>svg {
    z-index: 1;
}

.callback-form {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: center;
    width: 320px;
    margin-bottom: 150px;
}

.callback-form h2 {
    font-size: 20px;
    color: #ffffff;
    background-color: #3f1f91;
    margin: -20px -20px 20px -20px;
    padding: 20px;
    border-radius: 10px 10px 0 0;
}

.callback-form label {
    display: block;
    text-align: left;
    margin-bottom: 15px;
    font-size: 14px;
    color: #555555;
}

.callback-form input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    font-size: 14px;
}

.callback-form button {
    background-color: #fca000;
    /* Оранжевый цвет кнопки */
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

.callback-form button:hover {
    background-color: #e08c00;
}

.callback-form .confidentiality {
    font-size: 12px;
    color: #555555;
    margin-top: 10px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.confidentiality>span {
    width: 80%;
}

.benefits-section {
    position: relative;
    background-color: #f9fafc;
    overflow: hidden;
}

.wave {
    bottom: 0;
    position: absolute;
    background-size: cover;
    width: 100%;
    display: block;
}

.benefits-section__container {
    width: 70%;
    margin: auto;
    padding: 50px 0 150px;
    text-align: center;
    position: relative;
}

.section-title {
    font-size: 45px;
    color: #111;
    margin-bottom: 10px;
}

.section-title_white {
    color: white;
}

.section-desc {
    font-size: 22px;
    color: #777;
    margin-bottom: 40px;
}

.benefits-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 20px;
}

.benefit-card {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 300px;
    font-family: 'Futurafuturisc', sans-serif;
}

.benefit-card .icon {
    width: 60px;
    height: 60px;
    margin: 0 auto 15px;
    background-color: #001f80;
    border-radius: 50%;
}

.benefit-card h3 {
    font-size: 20px;
    color: #2A336C;
    margin-bottom: 10px;
}

.benefit-card p {
    font-size: 16px;
    color: #555555;
    line-height: 1.6;
    font-family: 'Futurabookc', sans-serif;
}

/* MANUFACTURERS */

.manufacturers-sections {
    background: #0809A7 url('img/BG-img2.png') no-repeat;
}

.manufacturers-sections__container {
    width: 70%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 0;
}

.slider {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    gap: 50px;
    margin: 50px;

}

.slider__img-container {
    display: flex;
    gap: 20px;
    overflow-x: hidden;
    /* Ширина контейнера минус кнопки */
    max-width: calc(100% - 100px);
    box-sizing: border-box;
}

.slider-slide {
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 200px;
    height: 100px;
    border-radius: 10px;
}

@media (max-width: 1600px) {
    .header__menu {
        display: none;
    }

    .header__phone {
        display: none;
    }

    .burger {
        display: block;
    }

    .header__content {
        flex-direction: column;
        align-items: center;
    }
}