@font-face {
    font-family: 'Futuralightc';
    src: url('Futuralightc.otf') format('opentype');
}

@font-face {
    font-family: 'Futurafuturisc';
    src: url('Futurafuturisc.otf') format('opentype');
}

@font-face {
    font-family: 'Futurabookc';
    src: url('Futurabookc.otf') format('opentype');
}

